[submodule "watchlist-back"]
	path = watchlist-back
	url = https://github.com/Tavares-ltc/watchlist-back.git
[submodule "watchlist-front"]
	path = watchlist-front
	url = https://github.com/Tavares-ltc/watchlist-front.git
